In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,city_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nicoya,CR,2022-02-18 17:41:51,10.1483,-85.4520,89.15,33,83,8.14
1,1,Mataura,NZ,2022-02-18 17:41:52,-46.1927,168.8643,53.47,99,100,3.29
2,2,Busselton,AU,2022-02-18 17:41:53,-33.6500,115.3333,67.08,50,0,7.11
3,3,Aquiraz,BR,2022-02-18 17:41:53,-3.9014,-38.3911,87.89,65,100,9.10
4,4,Guerrero Negro,MX,2022-02-18 17:41:55,27.9769,-114.0611,66.25,28,0,2.33

In [5]:
city_data_df.dtypes

city_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
max_temp = city_data_df["Max Temp"]
# assign locations to array of latitude, longitude pairs
locations = city_data_df[["Lat", "Lng"]]
# get max temp
max_temp = city_data_df["Max Temp"]
#assign figure variable to gmaps.figure() attribute
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)
# assign heatmap_layer variable to heatmap_layer attrib and add locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp])

# add heatmap layer
fig.add_layer(heat_layer)
# call fig to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,city_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nicoya,CR,2022-02-18 17:41:51,10.1483,-85.4520,89.15,33,83,8.14
3,3,Aquiraz,BR,2022-02-18 17:41:53,-3.9014,-38.3911,87.89,65,100,9.10
8,8,Bathsheba,BB,2022-02-18 17:42:00,13.2167,-59.5167,86.61,58,40,20.71
11,11,Butaritari,KI,2022-02-18 17:42:03,3.0707,172.7902,81.03,79,55,22.95
14,14,Rocha,UY,2022-02-18 17:42:05,-34.4833,-54.3333,76.44,54,24,11.34
20,20,Avarua,CK,2022-02-18 17:41:39,-21.2078,-159.7750,77.05,94,40,9.22
22,22,Meulaboh,ID,2022-02-18 17:42:13,4.1363,96.1285,77.09,89,70,4.29
23,23,Saint-Joseph,RE,2022-02-18 17:42:14,-21.3667,55.6167,79.16,80,23,16.58
25,25,Castro,BR,2022-02-18 17:41:39,-24.7911,-50.0119,78.49,39,1,4.74
27,27,Puerto Leguizamo,CO,2022-02-18 17:42:17,-0.1934,-74.7819,87.13,61,80,1.86

In [30]:
preferred_cities_df.count()

city_ID       153
City          153
Country       152
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0             Nicoya      CR     89.15  10.1483  -85.4520
3            Aquiraz      BR     87.89  -3.9014  -38.3911
8          Bathsheba      BB     86.61  13.2167  -59.5167
11        Butaritari      KI     81.03   3.0707  172.7902
14             Rocha      UY     76.44 -34.4833  -54.3333
20            Avarua      CK     77.05 -21.2078 -159.7750
22          Meulaboh      ID     77.09   4.1363   96.1285
23      Saint-Joseph      RE     79.16 -21.3667   55.6167
25            Castro      BR     78.49 -24.7911  -50.0119
27  Puerto Leguizamo      CO     87.13  -0.1934  -74.7819

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Nicoya,CR,89.15,10.1483,-85.4520,Las Cabinas Del Sueño
3,Aquiraz,BR,87.89,-3.9014,-38.3911,Pousada Rua Camurupim
8,Bathsheba,BB,86.61,13.2167,-59.5167,Atlantis Hotel
11,Butaritari,KI,81.03,3.0707,172.7902,Isles Sunset Lodge
14,Rocha,UY,76.44,-34.4833,-54.3333,Hotel Arrarte
20,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
22,Meulaboh,ID,77.09,4.1363,96.1285,Kost Pria
23,Saint-Joseph,RE,79.16,-21.3667,55.6167,"""Plantation Bed and Breakfast"
25,Castro,BR,78.49,-24.7911,-50.0119,CHACARA BAILLY
27,Puerto Leguizamo,CO,87.13,-0.1934,-74.7819,la casona de juancho

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))